/*

Super simple CSS3 stuff, hope it works on everything....

*/
html,body {
    height: 100%
}
body {
    display: table;
    margin: 0 auto;
    background-color:#4476ff;
    color:#fff;
}
.container {
    height: 100%;
    display: table-cell;
    vertical-align: middle;
}
.cent {
    text-align:center;
}
.cent h1 {
    font-size:2vw;
}
.cent svg {
    width:50vw;
}

.social-images img {
    margin: .5em;
    height: 48px;
    width: 48px;
}